body {
}

#bannerTree {
    border: 3px solid #fff;
}

.projectLink  {
    font-style:italic;
    font-weight: 500;
}

.subpageHeaderBanner {
    height:260px;
    background-color:#dedede;
}
#subpageHeaderText {
    padding-left:30px;
    padding-top:85px;
    font-size: 60px;
}

#subpageHeaderImage {
    height:220px;
    max-width:100%;
    padding-top:30px;
    padding-left:100px;
}

.stillGrowing {
    position:center;
    margin-left:300px;
}

.noShadow {
    text-shadow:none;
}

